.course-content {
    font-family: Arial, sans-serif;
    max-width: 900px;
    color: #333;
    margin: 0;
    padding: 0;
}


.course-content h1,
.course-content h2,
.course-content h3 {
    margin: 1rem 0;
}

.course-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.course-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.course-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.course-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 800px;
}
pre {
    font-family: "Courier New"
        Courier monospace;
}
pre code {
    background: var(--bg-body);
    color: var(--black);
    font-weight: 600;
}
.course-content pre {
    background-color: var(--code-bg-color);
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid var(--color-primary);
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    position: relative;
}

.course-content code {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-button:hover {
    background-color: #0056b3;
}

pre {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

@media (max-width: 767px) {
    .course-content h1 {
        font-size: 2rem;
    }

    .course-content h2 {
        font-size: 1.5rem;
    }

    .course-content h3 {
        font-size: 1.2rem;
    }

    .course-content p {
        font-size: 1rem;
        max-width: 90%;
    }


    .copy-button{
        position: relative;
        margin-left: 10px;
        display: flex;
        margin-left: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 216px) {
    .course-content pre{
        padding-left: 10px;
        padding-right: 5px;
    }
}


@media (min-width: 768px) {
    .course-content h1 {
        font-size: 2.5rem;
    }

    .course-content h2 {
        font-size: 2rem;
    }

    .course-content h3 {
        font-size: 1.8rem;
    }

    .course-content p {
        font-size: 1.1rem;
    }
}

@media (min-width: 901px) {
    .course-content h2 {
        font-size: 2rem;
    }
}
@media (min-width: 901px) {
    .course-content .margin {
        width: 100%;
        height: 100px;
    }
}
@media (min-width: 1024px) {
    .course-content h1 {
        font-size: 3rem;
    }

    .course-content h2 {
        font-size: 2.5rem;
    }

    .course-content h3 {
        font-size: 2rem;
    }

    .course-content p {
        font-size: 1.2rem;
    }
}