@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
.landing-page {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.hero {
    margin: 0 auto;
    min-height: 80vh;
    padding-top: 80px;
}

.btn-container {
    gap: 10px;
    display: flex;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1;
}

.hero h2{
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.hero p {
    max-width: 500px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.75rem;
}

.hero .invite {
    position: relative;
    margin-top: 50px;
    font-size: medium;
    padding: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.hero .invite-arrow {
    cursor: pointer;
    animation: movement 1s ease infinite;
}

/* -------------------------- Welcome ----------------------------*/
.welcome {
    position: relative;
    margin-top: 50px;
    background-color: var(--bg-body);
    overflow: hidden;
    width: 100%;
    background: url('../../assets//Img/welcome.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.welcome p span {
    color: var(--bg-body);
    font-family: "Bebas Neue", sans-serif;    
    font-size: 7rem;
    z-index: 2;
    position: relative;
}

.welcome::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    top: 0;
    left: 0;
    z-index: 0;
}

@keyframes movement {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------- Why ----------------------------*/

.hero .why-container {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.hero .why-container p{
    margin: 0 auto;
    text-align: justify;
}


/* -------------------------- Need ----------------------------*/

.need {
    margin-top: 80px;
    text-align: left;
    width: 100%;
}

.need h2 {
    text-align: center;
    margin-bottom: 40px;
}

.need .top {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.need .top .card,
.need .bottom .card {
    border-radius: 20px;
    overflow: hidden;
    background: var(--white);
    box-shadow: 15px 15px 45px #bebebe,
        -10px -10px 40px #dcdcdc;
}

.need .top .card p,
.need .bottom .card p {
    margin: 0;
}

.need .text {
    padding: 15px;
}

.need .top div img {
    width: 100%;
    aspect-ratio: 1 / 0.8;
}

.need .bottom {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.need .bottom div img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* -------------------------- Showcase ----------------------------*/
.showcase{
    display: grid;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 50px;
}
.showcase h2 {
    margin-top: 70px;
}

.showcase p{
    margin: 0 auto;
    margin-bottom: 40px;
}


.showcase-content{
    display: grid;
    margin: 0 auto;
}
.showcase p:nth-child(3){
    text-align: center;
    opacity: .7;
}

/* Showcase content */
.showcase-content{
    display: grid;
}
.showcase-content .card-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.showcase-content .card {
    box-shadow: 15px 15px 70px #cbcbcb,
        -10px -10px 70px #e1e0e0;
    border-radius: 10px;
    overflow: hidden;
}
.showcase .card .top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    border: 1px solid var(--border-cta);
    padding: 30px 80px;
}
.showcase .card .top:nth-child(1) img{
    float: right;
}
.showcase .card .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #f9fafc;
    gap: 10px;
}
.showcase .card .bottom div{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    border: 1px solid var(--border-cta);
}

.showcase .card .bottom div p {
    text-align: left;
    margin-bottom: 0;
    font-size: medium;
}
.showcase .card .bottom div b {
    text-align: right;
    font-weight: 600;
    font-size: smaller;
}

.showcase .card img{
    box-shadow: 15px 15px 45px #bebebe,
        -10px -10px 40px #ffffff;
    width: 70px;
    border: 1px solid var(--border-cta);
    background: white;
    padding: 20px;
    border-radius: 50%;
    overflow: visible;
}

/* Cookie Consent Banner */
.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.cookie-consent-banner p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.cookie-consent-banner button {
    background-color: var(--color-primary);;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.3s ease;
}

.cookie-consent-banner button:hover {
    background-color: #31682d;
}

/* Media Queries for Responsiveness */

@media (max-width: 1000px) {
    .hero .why-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .hero h1{
        font-size: 3rem;
    }

    .hero h2{
        font-size: 1.3rem;
    }

    .hero p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .hero p:nth-child(2){
        max-width: 330px;
    }

    .welcome{
        min-height: 200px;
        padding-top: 45px;
    }

    .welcome p span{
        font-size: 4rem;
    }

    .hero .why-container p{
        margin: 0 auto;
    }

}

@media (max-width: 470px) {
    .hero h1{
        font-size: 28px;
    }

    .welcome p span{
        font-size: 2.4rem;
    }
    .hero .why-container{
        gap: 0;
    }
    .hero .why-container p{
        padding: 0 10px;
    }
}
