/* Footer.css */

.footer {
    background: #1e2227;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 1rem;
    min-width: 220px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.footer a{
    color: var(--white);
    text-decoration: none;
    transition: all .3s ease-in;
}
.footer a:hover{
    color: var(--color-primary);
}
.footer-section p,
.footer-section ul {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--color-primary);
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-media a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: var(--color-primary);
}

.footer-bottom {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #ccc;
}

/* Responsive Styles */

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
    }

    .footer-section {
        margin: 1rem 1.5rem;
    }
}

@media (min-width: 1135px) {
    .social-media{
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .footer{
        padding: 2rem 2px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 0.5rem 0;
        text-align: center;
    }

    .social-media {
        margin-top: 1rem;
    }
}

@media (max-width: 285px) {
    .footer{
        overflow: hidden;
    }
    .footer-section img{
        width: 100px;
    }
    .footer-section h1{
        font-size: 25px;
    }
}

@media (max-width: 285px) {}