.form{
    max-width: 900px;
    margin: 50px auto;
    background: var(--bg-highlight);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form img{
    width: 200px;
    margin: 0;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.form h1, .form p:nth-child(3){
    text-align: center;
}
.form p{

}
.form h1{
    margin: 0;
}

.form label {
    font-size: large;
}

.form label span{
    color: var(--red);
}

.form input, .form select, .form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.form textarea{
    resize: none;
    height: 300px;
}
.form label:last-child{
    font-size: 20px;
}

.form .checkbox{
    width: 12px;
    height: 12px;
    accent-color: var(--color-primary);
}

.form .cta{
    margin-top: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .form {
        padding: 15px;
    }

    .form img {
        width: 150px;
    }

    .form textarea {
        height: 200px;
    }

    .form label {
        font-size: medium;
    }

    .form label:last-child {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .form {
        padding: 10px;
    }

    .form img {
        width: 100px;
    }

    .form textarea {
        height: 150px;
    }

    .form form{
        padding-bottom: 30px;
    }

    .form label {
        font-size: small;
    }

    .form label:last-child {
        font-size: 16px;
    }
}

@media (max-width: 220px) {
    .form {
        padding: 5px;
    }

    .form img {
        width: 80px;
    }
    
    .form h1{
        font-size: larger;
    }

    .form p:nth-child(3){
        font-size: medium;
    }

    .form p:nth-last-of-type(1){
        font-size: medium;
    }

    .form textarea {
        height: 100px;
    }


    .form label:last-child {
        font-size: 14px;
    }
}